img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template: 25% 70% 5% / 20% 80%;
  max-width: 100%;
  min-height: 100vh;
}

header {
  grid-area: 1 / 1 / 4 / 2;
}

main {
  grid-area: 1 / 2 / 3 / 3;
}

footer {
  grid-area: 3 / 2 / 4 / 3;
}

.journey-info, .milestone {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.journey-info > * {
  margin: 5px;
}

.hidden {
  display: none;
}
